@model IEnumerable<TabApp.Models.Service>

@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Projekt z przedmiotu Tworzenie Aplikacji Bazodanowych</p>
    <p>Wykorzystana technologia :  <a href="https://docs.microsoft.com/aspnet/core">ASP.NET</a></p>


    <table class="table">
        <thead>Authors</thead>
        <tr>
            <td>Jakub</td>
        </tr>
        <tr>
            <td>Mariusz</td>
        </tr>
        <tr>
            <td>Łukasz</td>
        </tr>
        <tr>
            <td>Jan</td>
        </tr>
        <tr>
            <td>Piotr</td>
        </tr>
    </table>
</div>
