@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
<<<<<<< HEAD
    <p>Projekt z przedmiotu Tworzenie Aplikacji Bazodanowych</p>
    <p>Wykorzystana technologia :  <a href="https://docs.microsoft.com/aspnet/core">ASP.NET</a></p>
=======
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
>>>>>>> origin/lukboso
</div>