@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Projekt z przedmiotu Tworzenie Aplikacji Bazodanowych</p>
    <p>Wykorzystana technologia :  <a href="https://docs.microsoft.com/aspnet/core">ASP.NET</a></p>


    <table class="table">
        <thead>Authors</thead>
        <tr>
            <td>Jakub Piskorski</td>
        </tr>
        <tr>
            <td>Mariusz Zarzycki</td>
        </tr>
        <tr>
            <td>£ukasz Sobolewski</td>
        </tr>
        <tr>
            <td>Jan Nieora</td>
        </tr>
        <tr>
            <td>Piotr Kawaler</td>
        </tr>
    </table>
</div>
