@model IEnumerable<TabApp.Models.Service>

@{
    ViewData["Title"] = "Services preview";
}

<h3>Check our services!</h3>

<h5>We offer : </h5>
<ul>
    <li>Personal computers and laptops repairs</li>
</ul>
