@model IEnumerable<TabApp.Models.Person>

    @{
    ViewData["Title"] = "Index";
    }

    <h3>My profile</h3>
    <a class="btn btn-outline-primary"asp-area="" asp-controller="Person" asp-action="Edit" asp-route-id=""> Edit</a>

    <table class="table">
        <tr>
            <th>Login</th>
            <td>Darek</td>
        </tr>
        <tr>
            <th>Password</th>
            <td><a asp-area="" asp-controller="Home" asp-action="ForgotPassword">Change password</a></td>
        </tr>
        <tr>
            <th>First name</th>
            <td>Darek</td>
        </tr>
        <tr>
            <th>Last name</th>
            <td>Darek</td>
        </tr>
        <tr>
            <th>Address</th>
            <td>Katowice nocom ze spirzowom mocom</td>
        </tr>
        <tr>
            <th>Phone numver</th>
            <td>123123123</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>Darek@darek.123</td>
        </tr>
    </table>
