@model TabApp.Models.LoginCredentials;

@{ ViewData["Title"] = "Register Employee"; }

<h1>Create</h1>

<h4>Worker</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Register">
            <div class="form-group">
                <input asp-for="Person.Role" type="hidden" value="Employee" class="form-control">
            </div>

            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" placeholder="Login">
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" placeholder="Password">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Person.Name" class="control-label"></label>
                <input asp-for="Person.Name" class="form-control" />
                <span asp-validation-for="Person.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.Surname" class="control-label"></label>
                <input asp-for="Person.Surname" class="form-control" />
                <span asp-validation-for="Person.Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.Address" class="control-label"></label>
                <input asp-for="Person.Address" class="form-control" />
                <span asp-validation-for="Person.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.Email" class="control-label"></label>
                <input asp-for="Person.Email" class="form-control" />
                <span asp-validation-for="Person.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.PhoneNumber" class="control-label"></label>
                <input asp-for="Person.PhoneNumber" class="form-control" />
                <span asp-validation-for="Person.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.Worker.Earnings" class="control-label"></label>
                <input asp-for="Person.Worker.Earnings" class="form-control" />
                <span asp-validation-for="Person.Worker.Earnings" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.Worker.PESEL" class="control-label"></label>
                <input asp-for="Person.Worker.PESEL" class="form-control" />
                <span asp-validation-for="Person.Worker.PESEL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.Worker.AccountNumber" class="control-label"></label>
                <input asp-for="Person.Worker.AccountNumber" class="form-control" />
                <span asp-validation-for="Person.Worker.AccountNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.Worker.JobPosition" class="control-label"></label>
                <input asp-for="Person.Worker.JobPosition" class="form-control" />
                <span asp-validation-for="Person.Worker.JobPosition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
